<%- include("../partials/headerNoStyle.ejs") %>
<link rel="stylesheet" href="stylesheets/skills/index.css">
<title>Coding Skills</title>
</head>
<body>

<h1>Skills</h1>
<h4> Updated: <%= time %> </h4>
<ul> 
    <% skills.forEach(function(s) { %>

    <li>
        <form action="/skills/<%= s.skill %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
        </form>  
        <!-- linked to name instead of #id  key-->
        <a href="/skills/<%=s.skill %>"> <%= s.skill %> </a>  
        -
        <%= s.level %> 
    </li>
    <% }); %>
</ul>
<a href="/skills/new">Add Skill</a>

<%- include("../partials/footer.ejs") %>